<footer id="contact">


    <div class="contacts">
        <h3>Contact Me</h3>
        <div class="contacts-content">
            <p class="contact-text">Please reach out to me with questions or concerns!</p>
            <p class="contact-text"> You can reach out to me at <a
                    href="mailto:pattasiwa@gmail.com">pattasiwa@gmail.com</a>
            </p>
            <ul class='social-ul'>
                <li><a href="https://www.linkedin.com/in/pattasiwa/" target="_blank"><img class="logo logo-link"
                            src="/img/linkedin.png" alt=""></a>
                </li>
                <li><a href="https://github.com/PattaSiwa" target="_blank"><img class="logo logo-link"
                            src="/img/github.png" alt=""></a>
                </li>

            </ul>
        </div>

    </div>
    <div class='logo-copy'>
        <img class='logo-footer' src="img/logo.png" alt="sandbox logo">
        <p>&copy; Copyright 2021, Pattarapon Siwapornchai</p>
    </div>



</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="JS/nav.js"></script>
</body>

</html>