<nav class="navbar">
    <div class="brand-title">
        <a href="/"> <img class='logo' src="/img/logo.png" alt=""></a>
    </div>
    <a href="#" class="toggle-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a class="nav-link" href="/resource">Collection</a></li>
            <li><a class="nav-link" href="/resource/new">Add To Collection</a></li>
            <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>