<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/show-style.css">
    <title>Error</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <main>
                <h1>
                    <%= error, message %>
                </h1>
                <h1>Something went wrong... Please Contact Admin</h1>

            </main>
            <%- include('./partials/footer.ejs') %>