<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="CSS/home-style.css">
    <title>Sandbox Home</title>
    </head>

    <body>
        <div id="page-container">
            <nav class="navbar">
                <div class="brand-title">
                    <a href="/"> <img class='logo' src="img/logo.png" alt=""></a>
                </div>
                <a href="#" class="toggle-btn">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        <li><a class="nav-link" href="/resource">Collection</a></li>
                        <li><a class="nav-link" href="#about">About</a></li>
                        <li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <header>
                <div class="headers">

                    <h1 class="title"><span> </span><span class="red"> S</span><span class="orange">a</span><span
                            class="yellow">n</span><span class="green">d</span><span class="blue">b</span><span
                            class="dark-blue">o</span><span class="purple">x</span></h1>
                    <h3 class="sub-title">A Collection of Learning Resources </h3>

                    <a class="get-started-link" href="/resource"> <button class="get-started-btn">View
                            Collection</button></a>

                </div>

            </header>

            <main id="about">
                <section class="about">
                    <h3 class="about-header">About this Project</h3>
                    <p class="about-text">
                        My name is Pattarapon and I have been working as a Youth Support Specialist. One of the
                        many challenges we faced during the Covid-19 Pandemic was finding appropriate resources to
                        support
                        our
                        students due to many of the in-person facilities being closed. My colleagues and I have been
                        sharing resources we've found via texts and e-mails. This application will provide a
                        centralized place for those resources.
                    </p>
                    <p class="about-text">
                        <strong>
                            My hope for this project
                            is to help educators and parents by providing a space they could come to find and share
                            learning
                            resources.
                        </strong>
                    </p>
                </section>
            </main>



            <%- include('./partials/footer.ejs') %>