<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Learning Resources</title>
</head>

<body>
    <header>

        <nav>
            <img class='logo' src="img/logo.png" alt="">
            <ul class="nav-ul">
                <li class="nav-li">
                    <a class="nav-link" href="/resource">Resource</a>
                </li>
                <li class="nav-li">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-li">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="headers">

            <h1 class="title"><span> </span><span class="red"> S</span><span class="orange">a</span><span
                    class="yellow">n</span><span class="green">d</span><span class="blue">b</span><span
                    class="dark-blue">o</span><span class="purple">x</span></h1>
            <h3 class="sub-title">A Growing Collection of Learning Resources </h3>
            <button class="get-started-btn">
                <a class="get-started-link" href="/resource">Get Started!</a>
            </button>
        </div>

    </header>


</body>

</html>