<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Learning Resources</title>
</head>

<body>
    <nav>
        <img class='logo' src="img/logo.png" alt="">
        <ul class="nav-ul">
            <li id="resource-link" class="nav-li">
                <a class="nav-link" href="/resource">Collection</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="headers">

            <h1 class="title"><span> </span><span class="red"> S</span><span class="orange">a</span><span
                    class="yellow">n</span><span class="green">d</span><span class="blue">b</span><span
                    class="dark-blue">o</span><span class="purple">x</span></h1>
            <h3 class="sub-title">A Collection of Learning Resources </h3>
            <button class="get-started-btn">
                <a class="get-started-link" href="/resource">View Collection</a>
            </button>
        </div>

    </header>
    <hr>
    <main id="about">
        <section class="about">
            <h3 class="about-header">About this Project</h3>
            <p class="about-text">
                My name is Pattarapon Siwapornchai. I have been working as a Youth Support Specialist and one of the
                biggest challenges we had during the Covid-19 Pandemic was finding appropriate resources to support our
                students for remote learning. Most of the resources we had were links and e-mails of links my colleagues
                and I have sent to
                each other. This application will provide a centralized place for those resources.
            </p>
            <p class="about-text">
                <strong>
                    My hope for this project
                    is to help educators and parents by providing a space they could come to find and share learning
                    resources.
                </strong>
            </p>
        </section>
    </main>
    <footer id="contact">


        <div class="contacts">
            <h3>Contact Me</h3>
            <div class="contacts-content">
                <p class="contact-text">Please reach out to me with questions or concerns!</p>
                <p class="contact-text"> You can reach out to me at <a
                        href="mailto:pattasiwa@gmail.com">pattasiwa@gmail.com</a>
                </p>
                <ul class='social-ul'>
                    <li><a href="https://www.linkedin.com/in/pattasiwa/" target="_blank"><img class="logo logo-link"
                                src="/img/linkedin.png" alt=""></a>
                    </li>
                    <li><a href="https://github.com/PattaSiwa" target="_blank"><img class="logo logo-link"
                                src="/img/github.png" alt=""></a>
                    </li>

                </ul>
            </div>

        </div>
        <div class='logo-copy'>
            <img class='logo-footer' src="img/logo.png" alt="sandbox logo">
            <p>&copy; Copyright 2021, Pattarapon Siwapornchai</p>
        </div>



    </footer>

</body>

</html>