<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="img/small-logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/nav-style.css">
    <link rel="stylesheet" href="CSS/index-style.css">
    <title>Learning Resource</title>
</head>

<body>
    <nav>
        <a href="/"> <img class='logo' src="img/logo.png" alt=""></a>
        <ul class="nav-ul">
            <li id="resource-link" class="nav-li">
                <a class="nav-link" href="/resource">Collection</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="#about">Add Resource</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1><span> </span><span class="red"> S</span><span class="orange">a</span><span class="yellow">n</span><span
                class="green">d</span><span class="blue">b</span><span class="dark-blue">o</span><span
                class="purple">x</span>'s Collection</h1>

    </header>
    <main>
        <ul class='re-ul'>
            <% for(let i=0; i < resource.length; i++){ %>
                <li class="re-li">
                    <div class="card text-right" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title <%=resource[i].subject %> ">
                                <%= resource[i].subject %>
                            </h5>
                            <p class="card-text">
                                <%= resource[i].name %>
                            </p>
                            <a href="/resource/<%=resource[i].id%>" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </li>


                <% } %>
        </ul>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>