<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/form-style.css">
    <title>Sandbox</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <main>
                <div class="container">

                    <div class="sidebar"></div>

                    <div class="form-container">
                        <h1>ADD A RESOURCE</h1>

                        <form action="/resource" method="POST">

                            <fieldset>

                                <legend>Resource Information</legend>

                                <label for="subject">SUBJECT</label>
                                <select name="subject" id="subject">
                                    <option value="Math">Math</option>
                                    <option value="Language">Language</option>
                                    <option value="Games">Games</option>
                                    <option value="Science">Science</option>
                                    <option value="Job-Readiness">Job Readiness</option>
                                    <option value="Independent-Living">Independent Living</option>
                                    <option value="Other">Other</option>
                                </select>

                                <label for="name">NAME</label>
                                <input class="text-input" id="name" name="name" type="text"
                                    placeholder="Name of the resource" />

                                <label for="url">URL</label>
                                <input class="text-input" id="url" name="url" type="text"
                                    placeholder="Link to the resource">


                                <label for="biography">DESCRIPTION</label>

                                <textarea id="biography" name="description"
                                    placeholder="Add a little description for this resource!"></textarea>
                                <label for="img">IMAGE LINK</label>
                                <input class="text-input" id="img" name="img" type="text"
                                    placeholder="Link to the image">
                            </fieldset>


                            <input type="submit" value="ADD TO COLLECTION">
                        </form>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

    </html>