<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/show-style.css">
    <title>Sandbox</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <main>
                <h1>404 Page Not Found </h1>
                <h1>Try a different path</h1>
            </main>
            <%- include('./partials/footer.ejs') %>