<%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/show-style.css">
    <title>Sandbox</title>
    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <h1>this is the show page for <%= resource.name %>
            </h1>
            <%- include('./partials/footer.ejs') %>
    </body>

    </html>