

header {
    min-height: 15vh;
    height: auto;
    background: rgb(131,167,201);
background: radial-gradient(circle, rgba(131,167,201,1) 40%, rgba(208,203,198,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

h1 {

    text-align: center;
    font-size: 6rem;
    text-shadow: 3px 5px 2px #474747;
    color: rgb(241, 89, 89);

}

main {
    min-height: 80vh;
}

.red {
    color: var(--red-orange)
}
.orange {
    color: var(--orange)
}
.yellow {
    color: rgb(233, 233, 75);
}
.green {
    color: green;
}
.blue {
    color: var(--light-blue)
}
.dark-blue {
    color: var(--dark-blue)
}
.purple {
    color: rgb(116, 43, 116)
}

.re-ul {
    margin-top: 3rem;
    padding: 0 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.re-li {
    margin: 2rem;
    width: 200px;
    height: 220px;
    border-radius: 20px;
    background-color: var(--white-beige);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.46); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.46);
    transition: .5s;
    overflow: hidden;
}

.re-li:hover {
    -webkit-box-shadow: 5px 5px 15px 5px var(--dark-blue); 
    box-shadow: 5px 5px 15px 5px var(--dark-blue);
    -webkit-animation: wobble .4s;
}

 @-webkit-keyframes wobble {
        0%,
        100% {
            -webkit-transform: rotate(-2deg);
        }
        75% {
            -webkit-transform: rotate(2deg);
        }
        50% {
            -webkit-transform: rotate(-2deg);
        }
        25% {
            -webkit-transform: rotate(2deg);
        }
    }

.card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
}

.learn-more{
    padding-bottom: .5rem;
}

.learn-more button {
    background-color: var(--orange);
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    transition: .3s;
}

.learn-more button:hover {
    cursor: pointer;
    background-color: var(--dark-blue);
    color: white;
}


.Math {
    background-color: var(--red-orange)
}
.Games {
    background-color: var(--dark-blue)
}

.Language {
    background-color: rgb(78, 182, 78)
}

.Job-Readiness {
background-color: var(--orange)
}

.Science {
    background-color: rgb(163, 4, 163)
}

.Independent-Living {
    background-color:rgb(188, 190, 49)
}
.Other {
    background-color: rgb(94, 62, 44)
}

.card-title, .card-text, .btn {
    font-size: 1.5rem;
    transition: .3s;
    line-height: 3rem;
    text-align: center;
}

.card-title{
    padding: 1.2rem ;
    color: var(--white-beige);
}


.card-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    :root {
      font-size: 12px;
    }
   
  
  }

  @media screen and (max-width: 700px) {
    :root {
      font-size: 10px;
    }
    .re-ul{
        justify-content: center;
    }
  
  }


  @media screen and (max-width: 500px) {
    :root {
      font-size: 12px;
    }

    h1{
        padding-top: 1rem;
        font-size: 4rem;
        line-height: 4rem;
        padding-bottom: 2rem;
    }
   
    .re-ul{
        justify-content: center;
    }
  
  }