

header {
    min-height: 15vh;
    height:auto;
    background-color: rgb(131, 167, 201);
    overflow: hidden;
    
} 

h1 {
    text-align: center;
    font-size: 5rem;
    text-shadow: 3px 5px 2px #474747;
    position: relative;
    top: 3rem;
    color: rgb(226, 142, 142);
    font-weight: 500;
    margin-bottom: 2rem;

}

main {
    min-height: 70vh;
}

.red {
    color: var(--red-orange)
}
.orange {
    color: var(--orange)
}
.yellow {
    color: rgb(233, 233, 75);
}
.green {
    color: green;
}
.blue {
    color: var(--light-blue)
}
.dark-blue {
    color: var(--dark-blue)
}
.purple {
    color: rgb(116, 43, 116)
}

.re-ul {
    margin-top: 3rem;
    padding: 0 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

.re-li {
    
    margin: 2rem auto;
}



.Math {
    color: var(--red-orange)
}
.Games {
    color: var(--light-blue)
}

.card-title, .card-text, .btn {
    font-size: 2rem;
    transition: .3s;
}

@media screen and (max-width: 800px) {
    :root {
      font-size: 10px;
    }
   
  
  }