main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4rem;
    color: var(--red-orange)
}

#user-table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 50%;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
#user-table td, #user-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#user-table tr:nth-child(even){
    background-color: #dad8d8;
    }

#user-table tr {
    background-color: var(--white-beige);
}
  
  
  
  
#user-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--light-blue);
    color: white;
  }

.manage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
td button {
border: none;
font-size: 1.5rem;
transition: .3s
}

td button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }


.edit {
   
    height: 20px;
    background-color: rgb(116, 192, 255);
  }
.delete {
    background-color: rgb(253, 137, 133);
    height: 20px;
    
    padding: 0;
  }

  .flash {
    position: absolute;
    left: 50;
    top: 20vh;
    transform: translateX(50);
  }