:root {
    font-size: 12px;
    --light-blue: #91D7F2;
    --dark-blue: #5196A6;
    --white-beige: #F2F0EB;
    --orange: #F2955E;
    --red-orange: #F25041;
}


main{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

h1{
    font-size: 5rem;
    letter-spacing: .3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: var(--red-orange);
    text-shadow: 3px 3px 2px rgba(0,0,0,0.74);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem;
}

.content{
    width: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    transition: .3s;
    background-color: var(--white-beige);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
}
.half {
    width: 50%;
}

.right {
padding: 3rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.re-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

button{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: .7rem;
    transition: .3s;
}



button:hover {
    cursor: pointer;
    box-shadow: 8px 10px 17px -4px rgba(0,0,0,0.72);
    -webkit-box-shadow: 8px 10px 17px -4px rgba(0,0,0,0.72);
    -moz-box-shadow: 8px 10px 17px -4px rgba(0,0,0,0.72);
}
.buttons {
    padding-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    transition: .3s;
   
}

.error {
    line-height: 5rem;
    width: 60%;
}

.error-pic {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 50%;
}

#delete-btn {
    background-color: var(--red-orange);
   
}

#edit-btn {
    background-color: rgb(245, 245, 110);
}

#go-btn {
    background-color: rgb(88, 202, 202);
}

@media screen and (max-width: 1000px) {
    :root {
      font-size: 1vw;
    }
   
  
  }
  
  @media screen and (max-width: 800px) {
    :root {
      font-size: 1.75vw;
    }
    .content {
        flex-direction: column;
        width: 350px;
    }
    .half {
        width: 100%;
    }
  
  }
  
  
  @media screen and (max-width: 500px) {
    :root {
      font-size: 10px;
    }
    h1{
        padding-top: 3rem;
        font-size: 3rem;
    }
    .content {
        flex-direction: column;
        width: 300px;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
    
    }
    button {
        margin: 1rem;
    }
  
  }