:root {
    font-size: .7vw;
    --light-blue: #91D7F2;
    --dark-blue: #5196A6;
    --white-beige: #F2F0EB;
    --orange: #F2955E;
    --red-orange: #F25041;
}

body {
    background-color: var(--light-blue);
}

main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

h1{
    font-size: 5rem;
    letter-spacing: .3rem;
    padding-bottom: 3rem;
    color: var(--red-orange);
    text-shadow: 3px 3px 2px var(--dark-blue);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.content{
    width: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-beige);
}
.half {
    width: 50%;
}

.right {
padding: 3rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.re-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

button{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
}
.buttons {
    padding-top: 3rem;
   
}

