@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Montserrat:wght@300&display=swap');

:root {
    --light-blue: #91D7F2;
    --dark-blue: #5196A6;
    --white-beige: #F2F0EB;
    --orange: #F2955E;
    --red-orange: #F25041;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: rgb(218, 233, 228);
    margin: 0;
    font-family: 'Englebert', sans-serif;
}
header {
    background-image: url('https://images.unsplash.com/photo-1476950648868-16c7dca9499c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh
   }

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--white-beige);
    height: 7vh;
    
}

.nav-ul {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    
}

.nav-li {
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.nav-li:hover {
   background-color: var(--light-blue);
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
  
}


.logo {
    padding-top: .3rem;
    margin-left: 1rem;
    height: 3rem;
    object-fit: scale-down;
}

.headers {
    position: absolute;
    left: 22%;
    top: 35%;
    text-align: center;
}
span{
    letter-spacing: 5px;
}
.title, .sub-title {
    color: rgb(155, 155, 155);
    text-shadow: 4px 2px 0px rgb(214, 214, 214);
    
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0;
}

.title {
    font-size: 9rem;
}
.sub-title{
    color: var(--white-beige);
    text-shadow: 4px 2px 0px rgb(51, 51, 51);
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.red {
    color: var(--red-orange)
}
.orange {
    color: var(--orange)
}
.yellow {
    color: rgb(233, 233, 75);
}
.green {
    color: green;
}
.blue {
    color: var(--light-blue)
}
.dark-blue {
    color: var(--dark-blue)
}
.purple {
    color: rgb(116, 43, 116)
}

.get-started-btn {
    background-color: var(--white-beige) ;
    border: none;
    width: 30rem;
    height: 5rem;
    border-radius: 10px;
    transition: .3s;
}

.get-started-btn:hover {
    cursor: pointer;
}

.get-started-link {
    position: relative;
    text-decoration: none;
    
    font-family: 'Englebert', sans-serif;
    font-size: 3rem;
    color: black;
    top: .5rem;
    transition: .3s;
}

.get-started-btn:hover{
    
    background-color: lightblue;
}