<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/CSS/form-style.css">
    <title>Login</title>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <main>
                <div class="flash">
                    <%- include('../partials/flash.ejs') %>
                </div>

                <div class="container">

                    <div class="sidebar sidebar-login"></div>

                    <div class="form-container">
                        <h1>Login</h1>

                        <form action="/users/login" method="POST">

                            <fieldset>

                                <legend>Enter Your Information</legend>

                                <label for="username">USERNAME</label>
                                <input class="text-input" id="username" name="username" type="text"
                                    placeholder="Enter Username" required>
                                <label for="password">PASSWORD</label>
                                <input class="text-input" id="password" name="password" type="password"
                                    placeholder="Enter Password" required>


                            </fieldset>


                            <input type="submit" value="LOGIN">

                        </form>
                        <a class='register-container' href="/users/register">
                            <p class='register-btn'>REGISTER</p>
                        </a>

                    </div>
                </div>
            </main>
            <%- include('../partials/footer.ejs') %>
    </body>

    </html>